.centered {
  width: 90%;
}

.product {
  margin-bottom: 1rem;
}

.product-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-gap: 2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.product:hover {
  border: 2px solid var(--clr-primary);
}

.product-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-image {
  width: 12rem;
}

.product-image > img {
  aspect-ratio: 1;
  border-radius: 0.75rem;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action {
  padding: 0.25rem 1rem;
  border: 2px solid var(--clr-primary);
  border-radius: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-secondary);
}

.action:hover {
  border: 2px solid var(--clr-secondary);
}

svg {
  transition: rotate 0.3s, scale 0.3s;
}

.rotate:hover > svg {
  rotate: 90deg;
}

.explode:hover > svg {
  scale: 1.5;
}

.new-product {
  margin-block: 2rem;
}

.create-new {
  padding: 0.75rem 1rem;
  border: 2px solid hsl(120, 73%, 50%);
  border-radius: 1rem;
  color: hsl(120, 73%, 50%);
  text-decoration: none;
}

.create-new:hover > svg {
  scale: 1.12;
  rotate: 90deg;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 1rem;
}

.filter-button {
  color: hsl(357, 93%, 59%);
  padding: 0.75rem 1rem;
  border: 2px solid hsl(357, 93%, 59%);
  border-radius: 1rem;
  text-decoration: none;
}
