@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

:root {
  --clr-primary: hsl(18, 89%, 51%);
  --clr-secondary: hsl(0, 0%, 90%);
  --clr-hover: hsl(240, 100%, 67%);
  --clr-divider: hsl(0, 0%, 12%);
  --clr-bg: hsl(0, 0%, 8%);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-secondary);
  font-family: "Nunito Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 2px solid var(--clr-secondary);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--clr-divider);
  background-color: var(--clr-divider);
}

#footer-header {
  text-align: center;
  margin-block: 1rem;
}

.download-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.nav-app {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
}

.nav-app > li {
  margin-block: 1rem;
}

.app-link {
  color: var(--clr-secondary);
  text-decoration: none;
  background-color: var(--clr-bg);
  padding: 0.5rem 1rem;
  margin-block: 1rem;
}

.nav-socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social-link {
  color: var(--clr-secondary);
  font-size: 1.75rem;
  text-decoration: none;
}

.privacy {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.privacy > a {
  color: var(--clr-secondary);
}

.nav-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.enterprise-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-footer-link {
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: 0.875rem;
}

.info {
  width: 75%;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.copyright {
  text-align: center;
}

.attr_link {
  color: var(--clr-hover);
  text-decoration: none;
  text-align: center;
}
