@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

:root {
  --clr-primary: hsl(18, 89%, 51%);
  --clr-secondary: hsl(0, 0%, 90%);
  --clr-hover: hsl(240, 100%, 67%);
  --clr-divider: hsl(0, 0%, 12%);
  --clr-bg: hsl(0, 0%, 8%);
}

body {
  background-color: var(--clr-bg);
  font-family: "Nunito Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--clr-secondary);
}
