.resetpassword-form-area + .resetpassword-form-area {
  margin-block: 1rem;
}

.changepassword-form {
  width: 100%;
}

.resetpassword-form-area {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-divider);
  width: 100%;
  text-align: center;
}

.resetpassword-label {
  display: block;
}

.resetpassword-input {
  background-color: var(--clr-divider);
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  color: var(--clr-secondary);
  width: 50%;
}

.resetpassword-input:focus {
  outline: 0;
}

.resetpassword-form-submit {
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
