<h4 id="footer-header">Mobil uygulamamızı indirin</h4>
<nav class="download-links">
    <ul class="nav-app">
        <li>
            <a class="app-link" href="#">
                <i class="fa-brands fa-google-play"></i>
                Google Play
            </a>
        </li>
        <li>
            <a class="app-link" href="#">
                <i class="fa-brands fa-app-store"></i>
                App Store
            </a>
        </li>
        <li>
            <a class="app-link" href="#">
                App Gallery
            </a>
        </li>
    </ul>
</nav>

<nav class="socials">
    <ul class="nav-socials">
        <li>
            <a class="social-link" href="#">
                <i class="fa-brands fa-facebook" style="color: #223658;"></i>
            </a>
        </li>
        <li>
            <a class="social-link" href="#">
                <i class="fa-brands fa-twitter" style="color: #0e5ce1;"></i>
            </a>
        </li>
        <li>
            <a class="social-link" href="#">
                <i class="fa-brands fa-instagram" style="color: #d11aaf;"></i>
            </a>
        </li>
        <li>
            <a class="social-link" href="#">
                <i class="fa-brands fa-youtube" style="color: #eb0505;"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="privacy">
    Tatlısepeti olarak kişisel verilerinizin gizliliğini önemsiyoruz. Kişisel veri işleme süreçleri
    hakkında detaylı bilgi almak için lütfen <a target="_blank"
        href="https://www.youtube.com/watch?v=BCjzPXtIh_c&ab_channel=ShaqsDadProductions"><strong>Kişisel Verilerin
            Korunması ve Gizlilik
            Politikası</strong></a>’nı
    inceleyiniz.
</div>
<nav class="nav-footer">
    <ul class="enterprise-nav">
        <li>
            <a class="nav-footer-link" href="" style="color: rgb(80, 80, 255);">Enterprise</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">About us</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Our vision and mission</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Advertisements</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Special Offers</a>
        </li>
    </ul>
    <ul class="enterprise-nav">
        <li>
            <a class="nav-footer-link" href="" style="color: rgb(80, 80, 255);">Contact</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Contact us</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">FAQ (Frequently Asked Questions)</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Sell on Tatlısepeti</a>
        </li>
        <li>
            <a class="nav-footer-link" href="">Company Info</a>
        </li>
    </ul>
</nav>
<div class="info">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iure animi expedita maiores eligendi inventore
    temporibus obcaecati beatae? Consequatur provident quibusdam quasi molestias error sunt quisquam iure. Assumenda
    incidunt sit id dolor itaque nostrum similique. Beatae maxime consectetur ducimus itaque neque rerum dolorum, iste,
    ipsum magnam, eligendi quis odit reiciendis.
</div>
<div class="copyright">
    Copyright © @DateTime.Now.Year Tatlısepeti
    <div class="">Mete hocam selamlar!</div>
</div>
<div class="attribution">
    Coded by <a target="_blank" class="attr_link" href="https://github.com/EmrePW">EmrePW</a> Emre Yahyaoğlu 210707024
</div>