<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>Tatlısepeti - Sipariş</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/reset.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/orderLayout.css">
</head>

<body>
    <header>
        @RenderSection("Header", false)
        <partial name="_orderHeader"></partial>
    </header>

    <main>
        @RenderBody()
    </main>

    <script asp-append-version="true" src="~/lib/font-awesome/js/all.min.js"></script>

</body>

</html>