@model ResetPassword

<head>
    <link rel="stylesheet" href="~/css/userIndex.css">
    <link rel="stylesheet" href="~/css/userChangePassword.css">
</head>

<div class="centered">
    <partial name="_navigationMenu" class="navMenu"></partial>

    <div class="order-wrapper">
        <h3 class="order__header">Şifre Güncelle</h3>
        <div asp-validation-summary="All"></div>

        <div class="orders-wrapper">
            <form class="changepassword-form" asp-action="ChangePassword" method="POST">
                <div class="resetpassword-form-area">
                    <label class="resetpassword-label" asp-for="OldPassword">Eski Şifre</label>
                    <input type="text" asp-for="OldPassword" class="resetpassword-input">
                </div>
                <div class="resetpassword-form-area">
                    <label class="resetpassword-label" asp-for="NewPassword">Yeni Şifre</label>
                    <input type="text" asp-for="NewPassword" class="resetpassword-input">
                </div>
                <div class="resetpassword-form-area">
                    <label class="resetpassword-label" asp-for="NewPasswordConfirm">Yeni Şifre Tekrar</label>
                    <input type="text" asp-for="NewPasswordConfirm" class="resetpassword-input">
                </div>
                <div class="resetpassword-form-area">
                    <button type="submit" class="resetpassword-form-submit">Onayla</button>
                </div>
            </form>
        </div>
    </div>
</div>