@model IEnumerable<Rating>

<head>
    <link rel="stylesheet" href="~/css/userIndex.css">
    <link rel="stylesheet" href="~/css/userFavourites.css">
    <link rel="stylesheet" href="~/css/userRatings.css">
</head>

<div class="centered">
    <partial name="_navigationMenu" class="navMenu"></partial>

    <section class="items-wrapper">
        <h3 class="order__header">Yorumlarım</h3>
        <div class="items">
            @if (Model.Count().Equals(0))
            {
                <div class="order-wrapper">
                    <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    You haven't rated any products yet
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="item-wrapper">
                        @{
                            Product? current_product = new Product();
                            foreach (var prd in ViewBag.Products)
                            {
                                if (item.ProductID.Equals(prd.ProductID))
                                {
                                    current_product = prd;
                                }
                            }
                        }
                        <div class="item-image">
                            <img style="width:75px; aspect-ratio: 1; border-radius: .5rem;"
                                src="@(current_product.ImageURL ?? "/images/default.png")" alt="Image not found">
                        </div>
                        <div class="item-name">
                            <a class="item-name-link" asp-area="" asp-controller="Product" asp-action="Get"
                                asp-route-id="@item.ProductID">
                                @current_product.ProductName
                            </a>
                            <div class="stars">
                                @for (int i = 1; i <= Int16.Parse(item.RatingValue); i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #fff700;"></i>
                                }
                                @for (int i = 5; i > Int16.Parse(item.RatingValue); i--)
                                {
                                    <i class="fa-solid fa-star" style="color: #949494;"></i>
                                }
                            </div>
                        </div>
                        @if (item.Opinion is not null)
                        {
                            <div class="comment">
                                @item.Opinion
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
</div>