<head>
    <link asp-append-version="true" rel="stylesheet" href="~/css/HomeIndex.css">
</head>

<div class="home_index_grid_area">
    <a asp-controller="Category" asp-action="Flower" class="area area1">

    </a>
    <a asp-controller="Category" asp-action="Bonnyfood" class="area area2">

    </a>
</div>
