@model IEnumerable<Product>

<head>
    <link asp-append-version="true" rel="stylesheet" href="~/css/reset.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/categoryFlower.css">
</head>

<div class="filters">
    @await Component.InvokeAsync("CategoriesMenu", 1)
    @await Component.InvokeAsync("ProductFilterMenu")
</div>

<div class="products">
    @foreach (var product in Model)
    {
        if (product.SuperCategory == 1)
        {
            <partial name="_productCard" model="product"></partial>
        }
    }
</div>
